# Name is an internal name. Title shows up in the UI as a side panel title.
# Tags to be kept empty for now. Tags will specify where in the app descriptions will be available.
# Links to be external only. We don't know yet whether referencing to other side panels will be supported but referencing to in-depth docs is expected to be supported.
# Note that this topic is for LEARN MORE.

- name: rhtap-import-configure-component
  tags:
  title: Configure components
  content: |-
    We analyze your code, then define and apply deployment settings for each of your application components. Remember, a “component” is an image that we build from source code in a repository. An application is a collection of these components working together.

    Before you create and deploy your application, look over the values and options that display here. You can rename any component from this view, too. 
    
    - **Component name**: Is it correct? Click the GitHub link under this field if you want to check your repository URL.
    - **Runtime**: Did we detect the right one? If so, you should notice that we suggest appropriate deployment options. If you want to change your runtime, expand the menu next to your runtime name and make a selection.

    In the **Build & deploy configuration** section, look over these items:
    - **Target port**: Is it correct? If not, click in the field to modify it.
    - **Dockerfile**: If you specified **Dockerfile** as your runtime, make sure we detected the right one. Click in the field if you need to modify it. Don't worry! We hide this field if you chose a different runtime.
    - **Default build pipeline**: To specify how to trigger rebuilds, toggle to choose either the default build pipeline or a custom one.
        - **Default build pipeline**: This runs faster because it makes only critical image checks. Consider starting here to make sure we can successfully build and deploy your component.
        - **Custom build pipeline**: This is triggered when you make commits to your source code repository. This pipeline runs more checks and security scans than the default pipeline, but it takes a bit more time because it's more thorough. **NOTE:** To use a custom pipeline, you must be the owner of your repository so that you can authorize the installation of our application in your GitHub instance and then grant the app access to your repository. If someone else owns your repository, fork it, then go back to the Add components page and start again.
    - **CPU** and **Memory**: Choose how many of each of these you want for your application, and in what unit, depending on your deployment requirements.
    
    In the **Environment variables** section, enter a variable name and value to customize how we deploy your application. 

    When you’re satisfied with your component configuration settings, click **Create application**.

    ***
    **NOTE**

    After you create your application, you can adjust your configuration settings anytime you want from the **Application** view.

    ***
  